/* your styles go here */

.icon {
  border: none;
  
}

.box-simple .icon {
color: #2d2d2d;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
